/* SIDEBAR */
.sidebar {
    position: fixed;
    left: 0;
    top: 64px;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    color: #5f6368;
    height: 100%;
    overflow-x: hidden;
  }
  .active {
    background: #fef0c3;
    border-radius: 50px;
    color: black;
  }
  .active:hover {
    background: #fef0c3;
  }
  .sidebar .sidebar-item {
    padding: 3px;
    display: flex;
    align-items: center;
  }
  .sidebar-item .sidebar-text {
    color: black;
    font-size: 0.9rem;
    margin-left: 20px;
    width: 250px;
  }
  .sidebar-item:nth-child(1) {
    margin-top: 5px;
  }